# Ignorar todo
*

# Permitir tema
!astra-child/

# Permitir exports Elementor
!elementor-exports/

# Permitir su contenido
!astra-child/**
!elementor-exports/**

# Permitir assets
!assets/

# Permitir README y gitignore
!README.md
!.gitignore
